@model AdvertismentPlatform.Models.Advertisment;

@{
    var path = "~/AdvertismentPictures/" + (Model.Picture ?? "qm.jpg");
    var date = Model.Item.ProductAge.ToString().Substring(0, 10);

    string actionName = this.ViewContext.RouteData.Values["action"].ToString();
    string controllerName = this.ViewContext.RouteData.Values["controller"].ToString();

    string ItemType = "Edit"+Model.Item.GetType().Name;
}


<div class="mb-3">
    <div class="row">
        
        @* this is the image, Spans 3 rows, 2 colums*@
        <div class="col-2 ">
            <img src="@path" style="width:130px; height:110px;" asp-append-version="true" />
        </div>

        @* Here is the rest of the table spans 3 rows, 10 columns *@
        <div class="col-10">

            <div class="row">
                <div class="col-3 ">@Model.Item.Brand</div>
                <div class="col-2 text-center">@Model.Item.Price$ </div>
                <div class="col-3 "><b>First Name:</b> @Model.ApplicationUser.FirstName</div>
                <div class="col-4 ">@Model.PostDate</div>
            </div>

            <div class="row">
                <div class="col-3 "><b>Year: </b>@date</div>
                <div class="col-2 "></div>
                <div class="col-3 "><b>Phone:</b> @Model.ApplicationUser.PhoneNumber</div>
                
            </div>

            <div class="row">
                <div class="col-3 "><b>Mileage:</b> @Model.Item.Mileage</div>
                <div class="col-2 "></div>
                <div class="col-3 "></div>
                @if ((((actionName == "MyAdvertisments") && (controllerName == "Advertisment")) || (User.IsInRole("Admin") || User.IsInRole("Super Admin"))))
                {
                    <div class="col-4 ">

                        <form asp-action="DeleteAdvertisment" asp-controller="Advertisment" asp-route-id="@Model.Id" method="post">


                            <a asp-action=@ItemType asp-controller="Advertisment" asp-route-id="@Model.Id" class="btn btn-secondary"><i class="fas fa-cog"></i></a>
                                                       

                            <span id="confirmDeleteSpan_@Model.Id" style="display:none">
                                <span>Are you sure ?</span>
                                <button type="submit" class="btn btn-danger">Yes</button>
                                <a href="#" class="btn btn-primary"
                                   onclick="confirmDelete('@Model.Id', false)">No</a>
                            </span>

                            <span id="deleteSpan_@Model.Id">
                                <a href="#deleteSpan_@Model.Id" class="btn btn-danger"
                                   onclick="confirmDelete('@Model.Id', true)"><i class="fas fa-trash-alt"></i></a>
                            </span>

                        </form>

                    </div>
                }
            </div>

        </div>

    </div>

    <hr />
</div>

