@model AdvertismentPlatform.Models.Advertisment
@using System.Globalization
@inject AdvertismentPlatform.Services.ICurrency currencyContainer
@{
    // get the picture path of current post
    var path = "~/AdvertismentPictures/" + (Model.Picture ?? "qm.jpg");
    var date = Model.Item.ProductAge.ToString().Substring(6, 4);

    // get the current controller , action method
    string actionName = this.ViewContext.RouteData.Values["action"].ToString();
    string controllerName = this.ViewContext.RouteData.Values["controller"].ToString();

    string ItemType = "Edit" + Model.Item.GetType().Name;
    Model.Currency = currencyContainer.GetCurrencyById(Model.Item.CurrencyId);

    // calculate the time elapsed since post;
    string postDate = "";

    TimeSpan span = System.DateTime.Now.Subtract(Model.PostDate);
    if (span.TotalSeconds < 3600)
    {
        if (span.TotalSeconds < 60)
            postDate = "1 minute ago";
        else
            postDate = Convert.ToInt32(span.TotalMinutes) + "m ago";
    }
    else if (span.TotalHours < 24)
        postDate = Convert.ToInt32(span.TotalHours) + "h ago";
    else if (span.TotalDays < 31)
        postDate = Convert.ToInt32(span.TotalDays) + "d ago";
    else if (span.TotalDays < 365)
        postDate = Convert.ToInt32(span.TotalDays / 30) + "m ago";
    else
        postDate = Convert.ToInt32(span.TotalDays / 365) + "y ago";

    // ad spaces to price / km
    var f = new NumberFormatInfo {NumberGroupSeparator = " "};
    string priceStr = Model.Item.Price.Value.ToString("N", f);
    var price = priceStr.Remove(priceStr.Length-3, 3);
    string kmStr = Model.Item.Mileage.Value.ToString("N", f);
    var mileage = kmStr.Remove(kmStr.Length-3, 3);

}


<div class="mb-3 custom-container">

    <div class="row bg" >
        <div class="overlay">
             
        </div>
        @* this is the image, Spans 3 rows, 2 colums*@
        <div class="col-2" style="cursor: pointer;" onclick="ViewAd(@Model.Id)">
            <img src="@path" style="width:130px; height:110px;" asp-append-version="true" />

        </div>

        @* Here is the rest of the table spans 3 rows, 10 columns *@
        <div class="col" style="cursor: pointer;" onclick="ViewAd(@Model.Id)">

            <div class="row">
                <div class="col"><b>@Model.Item.Brand</b></div>
                <div class="col"><b>@price&nbsp;@Model.Currency.Sign</b></div>
            </div>

            <div class="row">
                <div class="col">Year: @date</div>
                <div class="col-2"></div>              
            </div>
           
            <div class="row">
                <div class="col ">Mileage: @mileage km</div>
                <div class="col-2"></div>

            </div>
        </div>
        <div class="col-3">

            <div class="row" style="cursor: pointer;" onclick="ViewAd(@Model.Id)">
                <div class="col" style="cursor: pointer;" onclick="ViewAd(@Model.Id)">@postDate</div>
            </div>

            @if ((((actionName == "MyAdvertisments") && (controllerName == "Advertisment")) || (User.IsInRole("Admin") || User.IsInRole("Super Admin"))))
            {

                <div class="row">
                    <div class="col">
                        <form asp-action="DeleteAdvertisment" asp-controller="Advertisment" asp-route-id="@Model.Id"
                              method="post">

                            <a asp-action=@ItemType asp-controller="Advertisment" asp-route-id="@Model.Id" class="btn btn-secondary"><i class="fas fa-cog"></i></a>

                            <span id="confirmDeleteSpan_@Model.Id" style="display:none">
                                <span>Confirm</span>
                                <button type="submit" class="btn btn-danger">Yes</button>
                                <a href="#deleteSpan_@Model.Id" class="btn btn-primary"
                                   onclick="confirmDelete('@Model.Id', false)">No</a>
                            </span>

                            <span id="deleteSpan_@Model.Id">
                                <a href="#deleteSpan_@Model.Id" class="btn btn-danger"
                                   onclick="confirmDelete('@Model.Id', true)"><i class="fas fa-trash-alt"></i></a>
                            </span>
                        </form>
                    </div>
                </div>

            }
        </div>

    </div>

</div>


